*{
  margin: 0; padding: 0;
  text-decoration: none;
  list-style: none;

}

body{
  line-height: 1.3rem;
  font-size: 14px;
}

$color-bg: #0079bf;
$color-bg-navbar-app: #0067a3;
$color-bg-navbar-board: #0079bf;
$color-bg-list: #ebecf0;
$gap: 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;


.trello-master{
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background: $color-bg;
  .nav-bar{
    padding-left: $gap;
    display: flex;
    align-items: center;

    &.app {
      font-size: 1.5rem;
      background: $color-bg-navbar-app;
    }
    &.board {
      font-size: 1.1rem;
      background: $color-bg-navbar-board;
    }
  }
  .board-columns{
    display: flex;
    overflow-x: auto;
    .column{
      flex: 0 0 auto;
      width: 300px;
      margin-left: $gap;
      height: calc(100% - #{$gap});
      > * {
        background-color: $color-bg-list;
        color: #333;
        padding: 0 0.5rem;
      }
      header{
        padding-left: 15px;
        font-size: 16px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-weight: bold;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
      }

      footer{
        padding-left: 10px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
      }
      ul {
        margin: 0;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
        overflow-y: auto;

        &::-webkit-scrollbar{
          -webkit-appearance: none;
        }
        &::-webkit-scrollbar:horizontal{
          width: 11px;
        }
        &::-webkit-scrollbar-thumb{
          background-color: darken($color: $color-bg-list, $amount: 15);
          border-right: 5px solid $color-bg-list;
        }

        li{
          background-color: white;
          padding: $gap;
          margin-bottom: $gap;
          border-radius: $card-border-radius;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          &:not(:last-child){
            margin-bottom: $gap;
          }

          img{
            display: block;

            width: calc(100% - 2 * #{$gap});
            margin: -$gap 0 $gap (-$gap);

            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
          }
        }
      }
    }
  }
}